{% extends "layout_feedback.html"%}
{% block content %}
<div class="container mt-5 pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 bg-dark px-5 rounded z-depth-5 mt-5">
            <div class="row">
                <div class="card-header bg-dark mt-4">
                    <h1 class="text-white">Feedback</h1>
                    <div class="col-sm-12 border border-bottom border-warning"></div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 border-right border-right border-warning">
                    <form id="feedback_box" class="col-12" action="/feedback_complete" method="post">
                        {{ form.hidden_tag() }}
                        <p class="text-white">Rate your experience</p>

                        <div class="row d-flex justify-content-center">
                            {% for subfield in form.stars %}

                            <label class="custom-radio-btn">
                                <td>{{ subfield }}</td>
                                <span class="checkmark"></span>
                            </label>
                            <!-- <span class="custom-label">
                                {{ subfield.label }}
                            </span> -->
                            {% endfor %}

                        </div>
                        <!-- <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> -->

                        <div class="row">
                            <small id="Unsatisfied" class="text-muted col">Not Satisfied</small>
                            <small id="Satisfied" class="text-muted col text-right"> Very Satisfied</small>
                        </div>

                        <br>
                        <p class="text-white">Category of uncertainty?</p>
                        <div class="col-md-11 d-flex justify-content-center">
                            <div class="md-form form-group">
                                {{ form.category(class="form-select bg-dark text-white border-bottom border-right-0
                                border-top-0 border-left-0 justify-content-center") }}
                                <!-- <select class="form-select bg-dark text-white border-bottom border-right-0 border-top-0 border-left-0 justify-content-center" aria-label="Category Select">
                                    <option selected>Category of doubt ?</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select> -->
                            </div>
                        </div>

                </div>
                <div class="col-md-7 mt-2">
                    <div class="md-form">
                        {{ form.feedback(type="text" , id="text_box",
                        class="form-control md-textarea text-white", maxlength="300" ,onkeyup="count_up(this);") }}
                        <!-- <textarea type="text" id="feedback" name="feedback" rows="8"
                            class="form-control md-textarea text-white" maxlength="300" onkeyup="count_up(this);"
                            required=""></textarea> -->
                        <label for="message">Your Feedback (optional)</label>
                        <span class="text-muted justify-content-right" id="count">0</span>

                        <button type="submit" class="btn btn-warning btn-block">Send</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function count_up(obj) {
        document.getElementById('count').innerHTML = obj.value.length;
    }
</script>
{% endblock %}