<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{{title}}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Form CSS -->
        <link rel="stylesheet" href = "{{ url_for('static',filename = 'css/statistics.css')}}"/>
        <!-- Google Font -->
        <!-- Following Webpage font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <!-- Nav Bar CSS-->
        <link rel="stylesheet" href = "{{ url_for('static',filename = 'css/nav.css')}}">
        <!-- Using chart.js to plot graphs -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- Error CSS -->
        <link rel="stylesheet" href = "{{ url_for('static',filename = 'css/error.css')}}"/>
    </head>
    <body>
        {% include "includes/nav.html" %}

        {% block content %}
        {% endblock %}
        <!-- This line generate the error -->
        <div class = "text-center">
            {% with messages = get_flashed_messages(with_categories=true)%}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class = "{{ category }} pt-3 pb-3 mb-5" id="error_message">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
    </body>
</html>