<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Main CSS -->
        <link rel="stylesheet" href = "{{ url_for('static',filename = 'css/main.css')}}"/>
        <!-- Google Font -->
        <!-- Following Webpage font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
        <!-- Nav Bar CSS-->
        <link rel="stylesheet" href = "{{ url_for('static',filename = 'css/nav.css')}}">
        <!--<link rel="stylesheet" href = "../static/css/nav.css">-->
    </head>
    <body>
        {% include "includes/nav.html" %}
        {% block content %}
        {% endblock %}
        <!-- This line generate the error -->
        {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class = "text-center text-danger">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    </body>
</html>
      