{% extends "layout_moreanswers.html" %}
{% block content %}

<div class="a">
    <h3>Question & Answer</h3>
    <br>
    <p>Type your query into the search bar below.
    <br>Once you click on the search button, a list of answers will appear.
    <br>If you have not found a satisfactory answer, feel free to click on "More Options" to view more answers.
    <br>Once you have finished, it would be great if you could fill in the optional feedback form!
    </p>
</div>
<br>
<div>
    <h4 class="b">Query:</h4>
    <br>
    <form class="query" action="/main" style="margin:auto;max-width:1500px">
        <input type="text" placeholder="Type your question here" name="search" required="">
        <button type="submit">Search<i class="fa fa-search"></i></button>
    </form>
</div>
<div class="qrepeat">
    <p><strong>Question: Where can I get this?</strong></p>
</div>
<div class="answers">
    <strong>Answer 1</strong><br>It is available at https//av-intelligence.com/
</div>
<div class="answers">
    <strong>Answer 2</strong><br>Visit us at AV Intelligence at Millenia Walk, call us at (65) 6887 3789
</div>
<div class="thirdanswer">
    <strong>Answer 3</strong><br>It is priced at $123.12.
</div>
<div class="nextans">
    <strong>Answer 4</strong><br>AV stands for Audiovisual
</div>
<div class="nextans">
    <strong>Answer 5</strong><br>HR stands for Human Resource
</div>
<div class="lastans">
    <strong>Answer 6</strong><br>The CEO of AV Intelligence is Andy Kennard
</div>

{% endblock %}