{% extends "layout_moreanswers.html" %}
{% block content %}

<div class="a">
    <h3>Question & Answer</h3>
    <br>
    <p>Type your query into the search bar below.
    <br>Once you have finished, it would be great if you could fill in the optional feedback form!
    </p>
</div>
<br>
<div class = "color-paper">
<div>
    <h4 class="b">Query:</h4>
    <br>
    <form class="query" action="/main" style="margin:auto;max-width:1500px">
        <input type="text" placeholder="Type your question here" name="search" required="">
        <button type="submit">Search<i class="fa fa-search"></i></button>
    </form>
</div>
<div class="qrepeat">
    <p><strong>Question: What is AV Intelligence?</strong></p>
</div>
<div class="answers">
    <a href="https://av-intelligence.com/" style="color: white;" target="_blank"><strong>Answer 1</strong><br>It is available at https//av-intelligence.com/</a>
</div>
<div class="answers">
    <a href="https://www.google.com/maps/place/AV+Intelligence/@1.2922357,103.8584103,17z/data=!3m1!4b1!4m5!3m4!1s0x31da19a920eaba73:0xabc24e2cb7926a35!8m2!3d1.2922357!4d103.860599"
    style="color: white;" target="_blank"><strong>Answer 2</strong><br>Visit us at AV Intelligence at Millenia Walk, call us at (65) 6887 3789</a>
</div>
<div class="thirdanswer">
    <strong>Answer 3</strong><br>It is priced at $123.12.
</div>
<div class="nextans">
    <strong>Answer 4</strong><br>AV stands for Audiovisual
</div>
<div class="nextans">
    <strong>Answer 5</strong><br>HR stands for Human Resource
</div>
<div class="lastans">
    <a href="https://www.linkedin.com/in/andy-kennard-644510a5/?originalSubdomain=sg"
    style="color: white;" target="_blank"><strong>Answer 6</strong><br>The CEO of AV Intelligence is Andy Kennard</a>
</div>
<div class="feedback">
    <a href="/feedback" style="color: white;"><strong>Fill in Feedback Form!</strong></a>
</div>

</div>
{% endblock %}