{% extends "layout_update.html" %}
{% block content %}
<div class = "update_box">
    <img src="{{ url_for('static', filename='/images/Logo.png') }}"width="100%" height="120">
    <form name = "form_update" action = "/update" method = "POST">
        {{ form.hidden_tag() }}
        {{ form.emp_id(id="emp_id",value = entry) }}
        <!-- Username field -->
        <p>Username</p>
        {{ form.name(id="user_name",placeholder="Enter Username") }}
        <!--<input type="text" name="" placeholder="Enter Username" id = "user_name">-->
        <!-- Password field -->
        <p>Password</p>
        {{ form.password(id="pass_word",placeholder="Enter Password") }}
        <!--<input type="password" name="" placeholder = "Enter Password" id = "pass_word">-->
        <p>Role:</p> 
        {{ form.position(id="position")}}
        <!-- Submit button -->
        {{ form.update(id="update_button") }}
        <!--<input type="submit" id = "submit_button">-->
        <br>
        <br> 
    </form>
</div>
{% endblock %}