{% extends "layout_viewer.html" %}
{% block content %}
<div class="overflow-x">
<table class="table table-hover mt-5">
    <thead class="indexing">
      <tr>
        <th class="indexing"></th>
        <th>Name</th>
        <th>Position</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bg-white">
        {% for entry in entries %}
      <tr>
        <td class="indexing">{{ loop.index }}</td>
        <td>{{ entry.username }}</td>
        <td>{{ entry.position }}</td>
        <td>
          <form name="frmRemoveEntry" action="/remove" method="post" 
                novalidate> 
          <input type="hidden" name="id" value="{{entry.id}}">
          <input type="submit" class="form-control btn-danger" 
                value="Remove">
          </form>
        </td>
        <td>
          <form name="UpdateEntry" action="/updater" method="GET" novalidate>
          <input type="hidden"name="id_update" value="{{entry.id}}">
          <input type="submit" class="form-control btn-info" value="Update">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}