body{
    background-color: #f0f0f0;
}

.login_box{
    background-color:white;
    width:320px;
    height:460px;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-35%);
    box-sizing: border-box;
}

form{
    margin-top:20px
}

h1{
    margin-top:70px;
    text-align: center;
    font-size: 60px;
    font-family: Rajdhani;
    letter-spacing: 5px;
}


.login_box p{
    padding: 0; 
    margin-left:25px; 
    font-size: 20px;
}

.login_box a{
    margin-left:150px; 
    text-decoration: none;
    color:black;
}
.login_box a:hover{
    margin-left:150px; 
    text-decoration: none;
    color:#ffd479;
}

.login_box input[type="text"], input[type="password"]{
    width:80%;
    margin-bottom:5px;
    margin-left:25px;
}

.login_box input[type="text"], input[type="password"]{
    border:none;
    border-bottom:1px solid black;
    height:30px;
}

.login_box input[type="text"]:focus, input[type="password"]:focus{
    outline:none;
}
.login_box input[type="text"]:hover, input[type="password"]:hover{
    border:none;
    border-bottom:1px solid black;
    height:30px;
    transition: 1s;
}


.login_box input[type="submit"]
{
    margin-top:30px;
    border: none;
    outline: none;
    height: 40px;
    width:90%;
    background-color: #f0f0f0;
    margin-left:17px;
    top: 0;
    transition: top ease 0.5s; 
    position: relative;
}
.login_box input[type="submit"]:hover
{
    background-color: #ffd479;
    top: -10px;
}