.a {
    text-align: center;
    background-color: #c6a85b;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    color: white;
    font-family: Rajdhani;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.b {
    text-align: center;
    font-family: Rajdhani;
    font-size: 70px;
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

form.query input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 47%;
    margin-left: 370px;
    background: #f1f1f1;
    text-align: center;
}
  
form.query button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 150px;
}
  
form.query button:hover {
    background: #0b7dda;
}
  
form.query::after {
    content: "";
    clear: both;
    display: table;
}

.logo > img{
    margin-left:37%;
 
}

.qrepeat {
    text-align: center;
    font-size: 30px;
}

.answers {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: #c6a85b;
    color: white;
}
.answers:hover {
    background-color: #9b7f3a;
    transition: 0.5s;
    text-decoration: none;
}

.thirdanswer {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: #c6a85b;
    color: white;
}

.thirdanswer:hover {
    background-color: #9b7f3a;
    transition: 0.5s;
    text-decoration: none;
}

.more {
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
}

.nextans {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: gray;
    color: white;
}

.nextans:hover {
    background-color: rgb(92, 92, 92);
    transition: 0.5s;
    text-decoration: none;
}

.lastans {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    margin-bottom: 200px;
    text-align: center;
    background-color: gray;
    color: white;
}

.lastans:hover {
    background-color: rgb(92, 92, 92);
    transition: 0.5s;
    text-decoration: none;
}

body {
    /* background-image: url("../images/bgimg_3.PNG"); */
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 1;
}

.feedback {
    width: 300px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 700px;
    margin-bottom: 200px;
    text-align: center;
    background-color: gray;
    color: white;
    text-decoration: none;
}

.feedback:hover {
    background-color: rgb(92, 92, 92);
    text-decoration: none;
    transition: 0.5s;
}