.a {
    text-align: center;
    background-color: #c6a85b;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    color: white;
    font-family: Rajdhani;
    font-size: 20px;
}

.b {
    text-align: center;
    font-family: Rajdhani;
    font-size: 70px;
    font-weight: 900;
}

h3 {
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

form.query input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 47%;
    margin-left: 370px;
    background: #f1f1f1;
    text-align: center;
}
  
form.query button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 150px;
}
  
form.query button:hover {
    background: #0b7dda;
}
  
form.query::after {
    content: "";
    clear: both;
    display: table;
}

.logo > img{
    margin-left:37%;
 
}

.qrepeat {
    text-align: center;
    font-size: 30px;
}

.answers {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: #c6a85b;
    color: white;
}
.answers:hover {
    background-color: #9b7f3a;
}

.thirdanswer {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: #c6a85b;
    color: white;
}

.thirdanswer:hover {
    background-color: #9b7f3a;
}

.more {
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
}

.nextans {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    text-align: center;
    background-color: gray;
    color: white;
}

.nextans:hover {
    background-color: rgb(92, 92, 92);
}

.lastans {
    width: 775px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 463px;
    margin-bottom: 200px;
    text-align: center;
    background-color: gray;
    color: white;
}

.lastans:hover {
    background-color: rgb(92, 92, 92);
}

body {
    background-image: url("../images/bgimg_3.PNG");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 1;
}

.feedback {
    width: 300px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 700px;
    margin-bottom: 200px;
    text-align: center;
    background-color: gray;
    color: white;
    text-decoration: none;
}

.feedback:hover {
    background-color: rgb(92, 92, 92);
    text-decoration: none;
}