#navbaring {
    width: 100%;
    white-space: nowrap;
}

.navbar-header {
    text-decoration: none;
}

li a {
    display: block;
    text-align: center;
    padding: 30px 32px;
    height: 100px;
}

li a:hover {
    background-color: #c6a85b49;
    transition: 0.5s;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}