body{
    background-image: linear-gradient(269deg, rgba(255,243,201, 0.18) 0%, rgba(255,243,201, 0.18) 58%,transparent 58%, transparent 67%,rgba(255,211,0, 0.07) 67%, rgba(255,211,0, 0.07) 82%,rgba(12,221,204, 0) 82%, rgba(12,221,204, 0) 100%),linear-gradient(499deg, rgba(19,19,19, 0) 0%, rgba(19,19,19, 0) 5%,transparent 5%, transparent 50%,rgba(101,101,101, 0) 50%, rgba(101,101,101, 0) 65%,rgba(132, 132, 132,0.02) 65%, rgba(132, 132, 132,0.02) 100%),linear-gradient(331deg, rgba(166, 166, 166,0.02) 0%, rgba(166, 166, 166,0.02) 18%,transparent 18%, transparent 37%,rgba(255,149,0, 0.03) 37%, rgba(255,149,0, 0.03) 87%,rgba(244, 244, 244,0.02) 87%, rgba(244, 244, 244,0.02) 100%),linear-gradient(234deg, rgba(54, 54, 54,0.02) 0%, rgba(54, 54, 54,0.02) 26%,transparent 26%, transparent 81%,rgba(251, 251, 251,0.02) 81%, rgba(251, 251, 251,0.02) 85%,rgba(19,19,19, 0) 85%, rgba(19,19,19, 0) 100%),linear-gradient(271deg, rgb(255,255,255),rgb(255,255,255));
}

.register_box{
    margin-top:30px;
    background-color:white;
    width:320px;
    height:460px;
    display:block;
    margin: auto;
}

form{
    margin-top:20px;
}

h1{
    margin-top:70px;
    text-align: center;
    font-size: 60px;
    font-family: Rajdhani;
    letter-spacing: 5px;
    margin-bottom:70px;
}

.register_box p{
    padding: 0; 
    margin-left:25px; 
    font-size: 20px;
    margin-top:10px;
}

.register_box a{
    margin-left:150px; 
    text-decoration: none;
    color:black;
}
.register_box a:hover{
    margin-left:150px; 
    text-decoration: none;
    color:#ffd479;
}

.register_box input[type="text"], input[type="password"]{
    width:80%;
    margin-bottom:10px;
    margin-left:25px;
}

.register_box input[type="text"], input[type="password"]{
    border:none;
    border-bottom:1px solid black;
    height:30px;
}

.register_box input[type="text"]:focus, input[type="password"]:focus{
    outline:none;
}
.register_box input[type="text"]:hover, input[type="password"]:hover{
    border:none;
    border-bottom:1px solid black;
    height:30px;
    transition: 1s;
}

#position {
    width:150px;
    margin-left: 20px;
}

#register_button
{
    border: none;
    outline: none;
    height: 40px;
    background-color: #f0f0f0;
    margin-left:17px;
    top: 0;
    transition: top ease 0.5s; 
    position: relative;
}
#register_button:hover
{
    background-color: #ffd479;
    top: -10px;
}