.a {
    text-align: center;
    background-color: #c6a85b;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 130px;
    color: white;
    font-family: Rajdhani;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


h1 {
    text-align: center;
    font-size: 40px;
    font-family: Rajdhani;
    letter-spacing: 5px;
}

h2 {
    margin-top: 40px;
    text-align: left;
    font-size: 50px;
    font-family: Rajdhani;
    letter-spacing: 3px;
}

h3 {
    margin-top: 40px;
    font-size: 40px;
    font-family: Rajdhani;
    letter-spacing: 1px;
}

h4 {
    
    font-size: 30px;
    font-family: Rajdhani;
    
}

h5 {
    
    font-size: 20px;
    font-family: Rajdhani;
    
}

.spacer{
    margin-left: 50px;
}


.middle-spacer{
    margin-top:100px;
    margin-bottom:100px;
}

body {
    /* background-image: url("../images/bgimg_4.PNG"); */
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}