.a {
    text-align: center;
    background-color: #c6a85b;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 130px;
    color: white;
    font-family: Rajdhani;
    font-size: 20px;
}


h1 {
    text-align: center;
    font-size: 40px;
    font-family: Rajdhani;
    letter-spacing: 5px;
}

h2 {
    margin-top: 40px;
    text-align: left;
    font-size: 50px;
    font-family: Rajdhani;
    letter-spacing: 3px;
}

h3 {
    margin-top: 40px;
    font-size: 40px;
    font-family: Rajdhani;
    letter-spacing: 1px;
}

h4 {
    
    font-size: 30px;
    font-family: Rajdhani;
    
}

h5 {
    
    font-size: 20px;
    font-family: Rajdhani;
    
}

.spacer{
    margin-left: 50px;
}


.middle-spacer{
    margin-top:100px;
    margin-bottom:100px;
}

body {
    background-image: url("../images/bgimg_4.PNG");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}